[submodule "apr-iconv"]
	path = apr-iconv
	url = git://github.com/apache/apr-iconv.git
[submodule "apr"]
	path = apr
	url = git://github.com/apache/apr
[submodule "apr-util"]
	path = apr-util
	url = git://github.com/apache/apr-util
